body {
  width: 90%;
  margin: 0 auto;
}




.profile-container {
  display: flex;
  flex-wrap: wrap;
}

.profile {
  width: 20%;
  margin: 1%;
  text-align: center;
}

.profile img {
  width: 100%;
}